app-contain-text {
  display: flex;
  justify-content: center;
}

.countdown-information__title {
  color: #72035D;
}

@media (max-width: 635px) {
  .countdown-information__title {
    margin-bottom: 2rem;
  }
}
