main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  gap: 5vh;
  flex-direction: column;
}
@media (max-width: 635px) {
  main {
    gap: 22vh;
  }
}
app-countdown-information {
  width: 100%;
}
