.contain-text__container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 50vh;
}

.contain-text__heading {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
