* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin: 0px 24px 0px 24px;
}

.error-message {
  color: red;
  margin-top: 0.5rem;
}

.input-container {
  position: relative;
  width: 278px;
  display: flex;
  flex-direction: column;

  & label {
    color: black;
    background: white;
    cursor: pointer;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;

    position: absolute;
    left: 0.5rem;
    top: -0.28rem;
  }

  & input {
    color: black;
    font-size: 0.875rem;
    border: none;
    outline: none;
    height: 3.375rem;
    padding: 0.8rem 1rem;
    border: 0.0625rem solid black;
    border-radius: 0.25rem;
    &:focus {
      border-color: blue;
    }
  }
}
